<?xml version="1.0" encoding="UTF-8"?>

<!-- 设置parallel=methods多线程执行method 设置执行线程数量-->
<suite name="Suite" parallel="methods" thread-count="3">

    <test name="loginTest_testNG">

        <groups>
            <run>
                <!-- 不写默认都执行 -->
                <!-- <include>运行的组名</include>-->
                <!--<exclude>禁止的组名</exclude>-->
            </run>
        </groups>

        <classes>
            <!-- 调用@Test执行类 -->
            <class name="com.testNG.testCase.LoginTest">
                <!-- 不写methods默认所有方法都执行，写上控制某个执行某个不执行 -->
                <!--<methods>-->
                <!--&lt;!&ndash;<include name="testUserLogin0"></include>&ndash;&gt;-->
                <!--&lt;!&ndash;<include name="testUserLogin1"></include>&ndash;&gt;-->
                <!--&lt;!&ndash;<include name="testUserLogin2"></include>&ndash;&gt;-->
                <!--&lt;!&ndash;<include name="testUserLogin3"></include>&ndash;&gt;-->
                <!--&lt;!&ndash;<include name="testUserLogin4"></include>&ndash;&gt;-->
                <!--&lt;!&ndash;<include name="testUserLogin5"></include>&ndash;&gt;-->
                <!--</methods>-->
            </class>

            <class name="com.testNG.testCase.LoginTestParamsData">
                <parameter name="name" value="admin"></parameter>
                <parameter name="pwd" value="123456"></parameter>
                <parameter name="expect" value="欢迎管理员"></parameter>

                <methods>
                    <include name="testUserLoginParam"></include>
                    <include name="testUserLoginData"></include>
                </methods>
            </class>

            <class name="com.testNG.testCase.LoginTestDataAllure">
                <methods>
                    <include name="testUserLoginData"></include>
                </methods>
            </class>

        </classes>

    </test>

</suite>
